.trips-property-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 80%;
  height: auto;
}

.trips-property-city {
  font-size: 27px;
  margin: 0 auto;
  padding: -1px 22%;
  text-align: center;
}

.trips-property-list li {
  margin: 15px;
  list-style: none;
  height: auto;
  border: 1px solid lightgray;
}

.trips-property-list li img {
  width: 328px;
  height: 202px;
}

.trips-property-caption {
  margin: 0 auto;
  padding: 15px;
}

.trips-property-description {
  padding-bottom: 10px;
}

.trips-property-dates {
  margin: 5px;
}

.trips-property-caption a {
  display: block;
  text-decoration: none;
  padding: 15px;
  border-top: 1px solid lightgray;
  text-align: center;
}

.trips-property-caption p {
  text-align: center;
}

.trips-property-caption a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #3b858a;
}

.trips-index-heading {
  margin: 2% 0 0 12.1%;
}
