* {
  font-family: 'Noto Sans', sans-serif;
}

.splash-form-container {
  width: 500px;
  height: 350px;
  background-color: white;
  padding: 20px;
}

.splash-form {
  display: flex;
  flex-direction: column;
}

.splash-form input {
  box-sizing: border-box;
  margin-bottom: 20px;
  height: 48px;
  font-size: 12px;
  padding: 10px;
}

 .splash-submit {
  height: 48px;
  padding: 20px;
  font-size: 12px;
  text-align: center;
  line-height: 0.1em;
  background-color: rgb(255, 90, 95);
  color: white;
}

.splash-submit:hover {
  cursor: pointer;
}


.close-icon:hover {
  cursor: pointer;
}

.close-icon img {
  height: 15px;
  width: 15px;
}
