.red-logo {
  width: 32px;
  height: 32px;
  padding: 18px;
}

.home-nav-list {
  float:right;
  margin-top: 28px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.home-nav-list li {
  padding-right: 10px;
}

.home-nav-list a {
  padding: 10px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.home-nav-list a:hover {
  border-bottom: 2px solid white;
}
