.splash-main {
  height: 100vh;
  background-image: image_url('splash_bg');
  background-repeat: no-repeat;
  background-size: 100%;
}

@media only screen and (max-width: 1570px) {
    .splash-main {
        background-image: image_url('splash_vertical');
    }
}
