.book-form-container {
  position: sticky;
  top: 10px;
}

.book-form {
  width: 377px;
  height: 390px;
  float: left;
  margin: 45px auto;
  border: 1px solid lightgray;
}

.book-form-price {
  width: 84%;
  padding: 5% 0%;
  font-weight: 700;
  font-size: 21px;
  border-bottom: 1px solid lightgray;
  margin: 0 auto;
}

.book-form-price span {
  font-size: 12px;
  font-weight: 400;
}

.book-form input {
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 15px;
  color: #757575;
  padding: 8px 15px;
  border: 1px solid #dbdbdb;
}

.date-picker {
  width: 377px;
  height: 94px;
  margin: 0;
  position: relative;
}

.book-form-dates-text {
  font-size: 14px;
  position: relative;
  top: 20px;
  left: 32px;
}

.book-form-text {
  font-size: 14px;
  position: relative;
  top: 20px;
  left: 32px;
}

.book-form-guests-text {
  top: -5px;
}

.book-form-guests {
  position: relative;
  top: 0;
  left: 30px;
  width: 80%;
  height: 10%;
  padding-left: 30px;
  margin-bottom: 9%;
  background-color: white;
  border: 1px solid lightgray;
  font-size: 16px;
  color: #757575;
  text-indent: 33px;
}

.select.paddingOffset {
  padding-left: 3px;
}

.book-form-submit {
  height: 48px;
  width: 304px;
  margin: 7px 30px;
  padding: 20px;
  font-size: 15px;
  text-align: center;
  line-height: 0.1em;
  background-color: #ff5a5f;
  color: white;
  border-radius: 5px;
}

.no-charge {
  font-size: 12px;
  width: 43%;
  margin: 0 auto;
  font-weight: 700;
}

#start-date, #end-date {
  margin: 0;
  text-align: center;
  border: none;
}

#start-date {
  border: none;
}

#start-date:focus, #end-date:focus {
  color: #007a87;
  background-color: #99ede6;
  padding: 0;
}

.DateRangePicker {
  position: absolute;
  top: 9px;
  right: -68px;
}

div.DateInput.DateInput_1 {
  width: 136px;
}

.DateRangePickerInput {
  padding-right: 0 !important;
  width: 303px;
  position: absolute;
  left: -40px;
}
