.show-photos {
  display: flex;
  width: 100%;
  height: 28em;
  flex-wrap: wrap;
}

.secondary-photos {
  width: 57.66%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.main-photo {
  height: 100%;
  width: 42%;
  overflow: hidden;
}

.main-photo img {
  min-height: 100%;
  max-height:100%;
  width: 100%;
  transition: transform 0.5s;
}

.main-photo img:hover, .secondary-photo img:hover {
  transform: scale(1.1);
}

.secondary-photo {
  height: 50%;
  width: 50%;
  overflow: hidden;
}

.secondary-photo img {
  min-height: 100%;
  max-height:100%;
  width: 100%;
  transition: transform 0.5s;
}
