.property-info {
  width: 45%;
  margin: 3% 4% 3% 11%;
  float: left;
}

.property-description-show {
  font-weight: 700;
  font-size: 2em;
}

.property-city {
  margin-bottom: 5%;
}

.property-owner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 9px;
  top: -5px;
}

.property-owner p {
  font-size: 14px;
  margin-top: 5px;
}

.property-header {
  position:relative;
}

.property-body {
  padding: 5% 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  text-align: justify;
}

.property-amenities-heading {
  padding-top: 5%;
  font-weight: 700;
}

.property-amneties-list {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.property-amneties-list li {
  padding: 10px;
}

.property-amneties-list li img {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.map-location-note {
  width: 50%;
  margin: 0 0 4% 10.5%;
  color: #535353;
}

img.property-owner-logo {
  width: 60px;
  height: 60px;
  margin: 0 14%;
}
