.property-show-review-list {
  width: 45%;
  padding-left: 10%;
  margin-bottom: 6%;
}

.property-show-review-heading {
  width: 45%;
  padding-left: 10%;
  margin-bottom: 2%;
}

div.property-show-review-item .review-form-review-body{
  width: 70%;
}
